<template name="clientEdit">

	<a class="waves-effect waves-light btn" href="{{pathFor 'clientList'}}"><i class="material-icons right"></i>Retour à la liste des clients</a>

	<form class="client">
		<input type="text" name="nom" placeholder="Nom du client" value="{{client.nom}}"/>
		<input type="text" name="prenom" placeholder="Prénom du client" value="{{client.prenom}}"/>
		<input type="text" name="adresse" placeholder="Adresse du client" value="{{client.adresse}}"/>
		<input type="text" name="codePostal" placeholder="Code Postal du client" value="{{client.codePostal}}"/>
		<input type="text" name="ville" placeholder="Ville du client" value="{{client.ville}}"/>
		<button class="btn waves-effect waves-light" type="submit" name="action">Modifier
		    <i class="material-icons right"></i>
		</button>
	</form>

</template>