<template name="devisList">
	<a class="waves-effect waves-light btn" href="{{pathFor 'devisAdd'}}"><i class="material-icons right"></i>Créer un nouveau devis</a>


	<table class="responsive-table striped">
	        <thead>
	          <tr>
	              <th data-field="nom">Numéro</th>
	              <th data-field="prenom">Date</th>
	              <th data-field="adresse">Adresse</th>
	              <th data-field="codePostal">Code Postal</th>
	              <th data-field="ville">Ville</th>
	          </tr>
	        </thead>
		<tbody>
	    {{#each devis}}
	      {{> devisItem}}
	    {{/each}}
	</tbody>
	</table>

</template>